################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/git-wpf/FileContentIndex/0eee47b9-62aa-4b9f-a1a0-907e84ecf8e6.vsidx
/.vs/git-wpf/FileContentIndex
/git-wpf/obj/Debug/net9.0-windows
